<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwj.supertools">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- ******************** 友盟 begin ******************** -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- ================= 友盟 end ==================== -->


    <application
        android:name="com.zwj.supertools.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******************** 自动适配配置 begin ******************** -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <!-- ================= 自动适配配置 end ==================== -->

        <!-- ******************** 友盟 begin ******************** -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59dccfb7310c930e99000bbd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="zwj" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="3e9af2616cf3e4e348af0be173ac12ab" />
        <!-- ================= 友盟 end ==================== -->


        <activity
            android:name="com.zwj.supertools.ui.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zwj.supertools.ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zwj.supertools.ui.activity.xs.XsContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zwj.supertools.ui.activity.xs.XsContentListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zwj.supertools.ui.activity.name.NameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zwj.supertools.ui.activity.name.PersonNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zwj.supertools.ui.activity.fund.CurFundInfoListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.zwj.supertools.ui.activity.fperson.FPersonBirthdayListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>